.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
    }

    &__right {
      position: relative;
      // napravi da se na hover pojavi close-btn

      &:hover &__close-btn {
        display: block;
      }

      &__img {
        width: 200px;
      }

      &__close-btn {
        display: none;

        color: white;
        position: absolute;
        top: 5%;
        right: 0;
        width: 30px;
      }
    }
  }
}
