.search {
  margin-top: 20px;
  height: 80px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    &__bot {
      

      &__clicked {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }

      &__not-clicked {
        display: none;
      }
      
    }
  }
}
