.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;

  &__header-left {
    display: flex;
    gap: 10px;

    &--link {
      text-decoration: none;
      color: inherit;
    }
  }

  &__header-middle {
    &__title {
      text-decoration: none;
      color: blue;
    }
  }

  &__header-right {
    display: flex;
    gap: 5px;

    &__button {
      border-radius: 10px;
      padding: 0 10px;
    }
  }
}
