.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-bottom: 50px;

  &__header-left {
    display: flex;
    gap: 10px;

    &--link {
      text-decoration: none;
      color: inherit;

      &__active {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-skip-ink: none;
      }
    }
  }

  &__header-middle {
    text-decoration: none;
    color: inherit;
    &__active {
      text-decoration: underline;
      text-decoration-thickness: 5px;
    }
  }

  &__header-right {
    display: flex;
    gap: 5px;

    &__button {
      border-radius: 10px;
      padding: 0 10px;
    }
  }
}
